<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="mode" [opened]="opened" fixedInViewport="true">
    <div class="sidenav__logo-container">
      <img class="sidenav__logo" src="assets/images/onlyLogo.svg" alt="logo image" (click)="closeSidenav()" />
    </div>
    <ng-content select="[navList]"></ng-content>
    <p class="version mat-caption" data-test="version">V{{ version }}</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <img
      *ngIf="!isDesktop"
      id="toggleIcon"
      data-test="toggle-sidenav-button"
      class="toggle-icon"
      src="assets/images/menuLogo.svg"
      alt="logo image"
      (click)="openSidenav()"
    />
    <ng-content select="[content]"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
