@use "sass:color";

.toggle-icon {
  position: fixed;
  padding: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-bottom-right-radius: 35px;
  background-color: var(--default-bg-light);
  z-index: 100;
}

.sidenav {
  &__logo {
    height: 64px;
    width: 64px;
    cursor: pointer;

    &-container {
      display: flex;
      justify-content: center;
      margin: 25% 0;
      width: 100%;
    }
  }
}

.version {
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin: 0;
}
