.toggle-icon {
  position: fixed;
  margin: 12px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.sidenav {
  &__logo {
    height: 64px;
    width: 64px;
    cursor: pointer;

    &-container {
      display: flex;
      justify-content: center;
      margin: 25% 0;
      width: 100%;
    }
  }
}
