.logo {
  width: 125px;
  margin-top: 55px;
}

.greeting {
  margin: 2rem 0;

  &__title {
    margin: 0;
  }

  &__subtitle {
    font-family: Arial;
    text-align: left;
    opacity: 0.75;
    margin: 0;
  }
}

.about-me {
  margin: 2rem 0;
}

.controls {
  margin: 2rem 0;
}

@media only screen and (min-width: 1024px) {
  .logo {
    width: 164px;
  }

  .greeting {
    margin: 2rem 0;
  }
}
