@import "/src/styles.scss";

.content {
  height: 100vh;
}

.logo {
  width: 30vw;
  margin-top: 6vh;
}

.greeting {
  margin: 2rem;

  &__title {
    // font-size: 3rem;
    margin: 0;
  }

  &__subtitle {
    // font-size: 1.2rem;
    font-family: Arial;
    text-align: left;
    opacity: 0.5;
  }
}

.controls {
  margin: 2rem;
}
