.category {
  margin-top: 2rem;

  &__exp-panel {
    background-color: var(--star-command-blue);
  }

  &__counter {
    justify-content: flex-end;
    color: var(--aqua);
  }
}

.skill-card {
  min-width: 270px;

  &-container {
    display: grid;
    gap: 6px;
  }

  &__icon {
    border-radius: 0;
    background-size: cover;
  }

  &__certificates-list {
    a {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (min-width: 375px) {
  .category-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 12px;
  }
}
