<app-sidenav>
  <mat-nav-list navList>
    <mat-list-item (click)="onItemClick('app-about')">Start</mat-list-item>
    <mat-list-item (click)="onItemClick('app-skills')">Skills</mat-list-item>
    <mat-list-item (click)="onItemClick('app-experience')">Experience</mat-list-item>
    <mat-list-item (click)="onItemClick('app-contact')">Contact</mat-list-item>
  </mat-nav-list>

  <ng-container content>
    <div class="resume-container">
      <app-about></app-about>
      <mat-divider></mat-divider>
      <app-skills [skillsCategories]="skillsCategories"></app-skills>
      <!-- <mat-divider></mat-divider> -->
      <app-experience></app-experience>
      <!-- <mat-divider></mat-divider> -->
      <app-contact></app-contact>
    </div>
  </ng-container>
</app-sidenav>
