<app-sidenav>
  <mat-nav-list navList>
    <mat-list-item (click)="onItemClick('app-about')">Start</mat-list-item>
    <mat-list-item (click)="onItemClick('app-skills')">Skills</mat-list-item>
    <mat-list-item (click)="onItemClick('app-experience')">Experience</mat-list-item>
    <mat-list-item (click)="onItemClick('app-contact')">Contact</mat-list-item>
  </mat-nav-list>

  <ng-container content>
    <app-about></app-about>
    <app-skills [skillsCategories]="skillsCategories"></app-skills>
    <app-experience></app-experience>
    <app-contact></app-contact>
  </ng-container>
</app-sidenav>
