<section class="item-section">
  <h1 data-test="title" class="mat-h1 contact__title flex align-center">Experience</h1>

  <ng-container *ngIf="experience$ | async as experienceList">
    <ng-container *ngFor="let experience of experienceList; first as isFirst">
      <mat-divider *ngIf="!isFirst"></mat-divider>
      <section class="job-title">
        <h2 data-test="company-name" class="mat-h2 m-0">{{ experience.companyName }}</h2>
        <p data-test="working-period" class="mat-caption m-0">
          {{ experience.startDate | date: "LLL YYYY" }} - {{ experience.endDate | date: "LLL YYYY" }}
        </p>
      </section>

      <mat-card data-test="experience-card" class="experience-card" *ngFor="let project of experience.projects">
        <mat-card-title-group>
          <mat-card-title data-test="client-name">{{ project.clientName }}</mat-card-title>
          <div mat-card-avatar>
            <a
              mat-icon-button
              color="accent"
              data-test="company-url"
              target="_blank"
              [href]="experience.companyUrl"
              target="_blank"
            >
              <mat-icon>launch</mat-icon>
            </a>
          </div>
          <mat-card-subtitle data-test="working-period">
            {{ project.projectName }}
          </mat-card-subtitle>
        </mat-card-title-group>

        <mat-card-content data-test="project-description" class="experience-card__content-wrapper">
          <div class="experience-card__content">
            <p data-test="description-item" *ngFor="let item of project.jobDescriptionItems">{{ item }}</p>
          </div>
        </mat-card-content>

        <mat-card-footer class="experience-card__footer">
          <mat-chip-list aria-label="List of used technologies">
            <mat-chip
              data-test="used-technology"
              class="experience-card__chip"
              *ngFor="let technology of project.usedTechnologies"
            >
              <mat-chip-avatar>
                <img [src]="technology.imgSrc" [alt]="technology.name + ' image'" />
              </mat-chip-avatar>
              {{ technology.name }}
            </mat-chip>
          </mat-chip-list>
        </mat-card-footer>
      </mat-card>
    </ng-container>
  </ng-container>
</section>
